# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/.nyc_output

# next.js
/.next/
/out/
/.next/cache
.next/standalone
.next/static

# production
/build

# misc
.DS_Store
Thumbs.db
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# ESLint cache
/.eslintcache

# env files (can opt-in for committing if needed)
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
!.env.example
# If you have a .env.production that IS committed, uncomment the line below
# !.env.production 

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Sentry
.sentry-debug-id-upload.log

# Sentry Config File
.env.sentry-build-plugin
